$bg_color: rgb(21, 22, 28);
$container_color: rgb(33, 35, 41);
$color: rgb(150, 149, 155);

:root {
	// --plyr-menu-color: rgb(150, 149, 155);
	// --plyr-menu-color: wheat;
	// --plyr-menu-back-border-color: rgb(150, 149, 155);
	// --plyr-menu-back-border-shadow-color: rgba(black, 0);
	// --plyr-menu-arrow-color: rgb(150, 149, 155);
	// --plyr-menu-background: rgb(33, 35, 41);
}
